@import '../color.scss';

.input-text {
  color: $black;
  border-radius: 3px;
  padding: 0.3em 0.4em;
  border: 2px solid $clouds;

  &:focus {
    color: $blue;
    outline: none;
    border-color: $blue;
  }
}