@import '../color';

.background-black {
  background-color: $black;
}
.background-navy {
  background-color: $navy !important;
}
.background-midnight-blue {
  background-color: $midnight-blue !important;
}
.background-wet-asphalt {
  background-color: $wet-asphalt !important;
}
.background-blue {
  background-color: $blue !important;
}
.background-belize-hole {
  background-color: $belize-hole !important;
}
.background-peter-river {
  background-color: $peter-river !important;
}
.background-aqua {
  background-color: $aqua !important;
}
.background-nephritis {
  background-color: $nephritis !important;
}
.background-olive {
  background-color: $olive !important;
}
.background-green {
  background-color: $green !important;
}
.background-emerald {
  background-color: $emerald !important;
}
.background-lime {
  background-color: $lime !important;
}
.background-turquoise {
  background-color: $turquoise !important;
}
.background-green-sea {
  background-color: $green-sea !important;
}
.background-teal {
  background-color: $teal !important;
}
.background-wisteria {
  background-color: $wisteria !important;
}
.background-amethyst {
  background-color: $amethyst !important;
}
.background-purple {
  background-color: $purple !important;
}
.background-fuchsia {
  background-color: $fuchsia !important;
}
.background-maroon {
  background-color: $maroon !important;
}
.background-pomegranate {
  background-color: $pomegranate !important;
}
.background-alizarin {
  background-color: $alizarin !important;
}
.background-red {
  background-color: $red !important;
}
.background-pumpkin {
  background-color: $pumpkin !important;
}
.background-carrot {
  background-color: $carrot !important;
}
.background-orange {
  background-color: $orange !important;
}
.background-buttercup {
  background-color: $buttercup !important;
}
.background-sun-flower {
  background-color: $sun-flower !important;
}
.background-yellow {
  background-color: $yellow !important;
}
.background-mine-shaft {
  background-color: $mine-shaft !important;
}
.background-dove-gray {
  background-color: $dove-gray !important;
}
.background-boulder {
  background-color: $boulder !important;
}
.background-asbestos {
  background-color: $asbestos !important;
}
.background-concrete {
  background-color: $concrete !important;
}
.background-gray {
  background-color: $gray !important;
}
.background-silver-sand {
  background-color: $silver-sand !important;
}
.background-silver {
  background-color: $silver !important;
}
.background-clouds {
  background-color: $clouds !important;
}
.background-white {
  background-color: $white !important;
}