@import '../color';

.background-black {
  background-color: $black;
}
.background-navy {
  background-color: $navy;
}
.background-midnight-blue {
  background-color: $midnight-blue;
}
.background-wet-asphalt {
  background-color: $wet-asphalt;
}
.background-blue {
  background-color: $blue;
}
.background-belize-hole {
  background-color: $belize-hole;
}
.background-peter-river {
  background-color: $peter-river;
}
.background-aqua {
  background-color: $aqua;
}
.background-nephritis {
  background-color: $nephritis;
}
.background-olive {
  background-color: $olive;
}
.background-green {
  background-color: $green;
}
.background-emerald {
  background-color: $emerald;
}
.background-lime {
  background-color: $lime;
}
.background-turquoise {
  background-color: $turquoise;
}
.background-green-sea {
  background-color: $green-sea;
}
.background-teal {
  background-color: $teal;
}
.background-wisteria {
  background-color: $wisteria;
}
.background-amethyst {
  background-color: $amethyst;
}
.background-purple {
  background-color: $purple;
}
.background-fuchsia {
  background-color: $fuchsia;
}
.background-maroon {
  background-color: $maroon;
}
.background-pomegranate {
  background-color: $pomegranate;
}
.background-alizarin {
  background-color: $alizarin;
}
.background-red {
  background-color: $red;
}
.background-pumpkin {
  background-color: $pumpkin;
}
.background-carrot {
  background-color: $carrot;
}
.background-orange {
  background-color: $orange;
}
.background-buttercup {
  background-color: $buttercup;
}
.background-sun-flower {
  background-color: $sun-flower;
}
.background-yellow {
  background-color: $yellow;
}
.background-mine-shaft {
  background-color: $mine-shaft;
}
.background-dove-gray {
  background-color: $dove-gray;
}
.background-boulder {
  background-color: $boulder;
}
.background-asbestos {
  background-color: $asbestos;
}
.background-concrete {
  background-color: $concrete;
}
.background-gray {
  background-color: $gray;
}
.background-silver-sand {
  background-color: $silver-sand;
}
.background-silver {
  background-color: $silver;
}
.background-clouds {
  background-color: $clouds;
}
.background-white {
  background-color: $white;
}