@import '../color';

.color-black {
  color: $black;
}
.color-navy {
  color: $navy;
}
.color-midnight-blue {
  color: $midnight-blue;
}
.color-wet-asphalt {
  color: $wet-asphalt;
}
.color-blue {
  color: $blue;
}
.color-belize-hole {
  color: $belize-hole;
}
.color-peter-river {
  color: $peter-river;
}
.color-aqua {
  color: $aqua;
}
.color-nephritis {
  color: $nephritis;
}
.color-olive {
  color: $olive;
}
.color-green {
  color: $green;
}
.color-emerald {
  color: $emerald;
}
.color-lime {
  color: $lime;
}
.color-turquoise {
  color: $turquoise;
}
.color-green-sea {
  color: $green-sea;
}
.color-teal {
  color: $teal;
}
.color-wisteria {
  color: $wisteria;
}
.color-amethyst {
  color: $amethyst;
}
.color-purple {
  color: $purple;
}
.color-fuchsia {
  color: $fuchsia;
}
.color-maroon {
  color: $maroon;
}
.color-pomegranate {
  color: $pomegranate;
}
.color-alizarin {
  color: $alizarin;
}
.color-red {
  color: $red;
}
.color-pumpkin {
  color: $pumpkin;
}
.color-carrot {
  color: $carrot;
}
.color-orange {
  color: $orange;
}
.color-buttercup {
  color: $buttercup;
}
.color-sun-flower {
  color: $sun-flower;
}
.color-yellow {
  color: $yellow;
}
.color-mine-shaft {
  color: $mine-shaft;
}
.color-dove-gray {
  color: $dove-gray;
}
.color-boulder {
  color: $boulder;
}
.color-asbestos {
  color: $asbestos;
}
.color-concrete {
  color: $concrete;
}
.color-gray {
  color: $gray;
}
.color-silver-sand {
  color: $silver-sand;
}
.color-silver {
  color: $silver;
}
.color-clouds {
  color: $clouds;
}
.color-white {
  color: $white;
}