@import '../color';

a.color-black,
a.color-black:visited,
.color-black {
  color: $black;
}
a.color-navy,
a.color-navy:visited,
.color-navy {
  color: $navy;
}
a.color-midnight-blue,
a.color-midnight-blue:visited,
.color-midnight-blue {
  color: $midnight-blue;
}
a.color-wet-asphalt,
a.color-wet-asphalt:visited,
.color-wet-asphalt {
  color: $wet-asphalt;
}
a.color-blue,
a.color-blue:visited,
.color-blue {
  color: $blue;
}
a.color-belize-hole,
a.color-belize-hole:visited,
.color-belize-hole {
  color: $belize-hole;
}
a.color-peter-river,
a.color-peter-river:visited,
.color-peter-river {
  color: $peter-river;
}
a.color-aqua,
a.color-aqua:visited,
.color-aqua {
  color: $aqua;
}
a.color-nephritis,
a.color-nephritis:visited,
.color-nephritis {
  color: $nephritis;
}
a.color-olive,
a.color-olive:visited,
.color-olive {
  color: $olive;
}
a.color-green,
a.color-green:visited,
.color-green {
  color: $green;
}
a.color-emerald,
a.color-emerald:visited,
.color-emerald {
  color: $emerald;
}
a.color-lime,
a.color-lime:visited,
.color-lime {
  color: $lime;
}
a.color-turquoise,
a.color-turquoise:visited,
.color-turquoise {
  color: $turquoise;
}
a.color-green-sea,
a.color-green-sea:visited,
.color-green-sea {
  color: $green-sea;
}
a.color-teal,
a.color-teal:visited,
.color-teal {
  color: $teal;
}
a.color-wisteria,
a.color-wisteria:visited,
.color-wisteria {
  color: $wisteria;
}
a.color-amethyst,
a.color-amethyst:visited,
.color-amethyst {
  color: $amethyst;
}
a.color-purple,
a.color-purple:visited,
.color-purple {
  color: $purple;
}
a.color-fuchsia,
a.color-fuchsia:visited,
.color-fuchsia {
  color: $fuchsia;
}
a.color-maroon,
a.color-maroon:visited,
.color-maroon {
  color: $maroon;
}
a.color-pomegranate,
a.color-pomegranate:visited,
.color-pomegranate {
  color: $pomegranate;
}
a.color-alizarin,
a.color-alizarin:visited,
.color-alizarin {
  color: $alizarin;
}
a.color-red,
a.color-red:visited,
.color-red {
  color: $red;
}
a.color-pumpkin,
a.color-pumpkin:visited,
.color-pumpkin {
  color: $pumpkin;
}
a.color-carrot,
a.color-carrot:visited,
.color-carrot {
  color: $carrot;
}
a.color-orange,
a.color-orange:visited,
.color-orange {
  color: $orange;
}
a.color-buttercup,
a.color-buttercup:visited,
.color-buttercup {
  color: $buttercup;
}
a.color-sun-flower,
a.color-sun-flower:visited,
.color-sun-flower {
  color: $sun-flower;
}
a.color-yellow,
a.color-yellow:visited,
.color-yellow {
  color: $yellow;
}
a.color-mine-shaft,
a.color-mine-shaft:visited,
.color-mine-shaft {
  color: $mine-shaft;
}
a.color-dove-gray,
a.color-dove-gray:visited,
.color-dove-gray {
  color: $dove-gray;
}
a.color-boulder,
a.color-boulder:visited,
.color-boulder {
  color: $boulder;
}
a.color-asbestos,
a.color-asbestos:visited,
.color-asbestos {
  color: $asbestos;
}
a.color-concrete,
a.color-concrete:visited,
.color-concrete {
  color: $concrete;
}
a.color-gray,
a.color-gray:visited,
.color-gray {
  color: $gray;
}
a.color-silver-sand,
a.color-silver-sand:visited,
.color-silver-sand {
  color: $silver-sand;
}
a.color-silver,
a.color-silver:visited,
.color-silver {
  color: $silver;
}
a.color-gallery,
a.color-gallery:visited,
.color-gallery {
  color: $gallery;
}
a.color-black,
a.color-clouds:visited,
.color-clouds {
  color: $clouds;
}
a.color-white,
a.color-white:visited,
.color-white {
  color: $white;
}