.line-height-1 {
  line-height: 1rem;
}
.line-height-1-2 {
  line-height: 1.2rem;
}
.line-height-1-4 {
  line-height: 1.4rem;
}
.line-height-1-6 {
  line-height: 1.6rem;
}
.line-height-1-8 {
  line-height: 1.8rem;
}
.line-height-2 {
  line-height: 2rem;
}