@import '../color';

a.button,
a.button:visited,
.button {
  display: inline-block;
  cursor: pointer;
  background-color: $belize-hole;
  border-radius: 3px;
  color: $white;
  padding: 10px 15px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}

a.button:hover,
.button:hover {
  color: $white;
  background-color: $peter-river;
}
