@import '../color';

a.button,
a.button:visited,
.button {
  cursor: pointer;
  background-color: $belize-hole;
  border-radius: 3px;
  color: $white;
  padding: 10px 15px;
}

a.button:hover,
.button:hover {
  color: $white;
  background-color: $peter-river;
}
