$breakpoint-1660: new-breakpoint(max-width 1660px 12);
$breakpoint-1440: new-breakpoint(max-width 1440px 12);
$breakpoint-1280: new-breakpoint(max-width 1280px 12);
$breakpoint-1140: new-breakpoint(max-width 1140px 12);
$breakpoint-1024: new-breakpoint(max-width 1024px 12);
$breakpoint-768: new-breakpoint(max-width 768px 8);
$breakpoint-480: new-breakpoint(max-width 480px 4);

$breakpoints: ('xxl', $breakpoint-1660),
              ('xl', $breakpoint-1440),
              ('lg', $breakpoint-1280),
              ('md', $breakpoint-1140),
              ('sm', $breakpoint-1024),
              ('xs', $breakpoint-768),
              ('xxs', $breakpoint-480);

$columns: ('0-5', 0.5),
          ('1', 1),
          ('1-5', 1.5),
          ('2', 2),
          ('2-5', 2.5),
          ('3', 3),
          ('3-5', 3.5),
          ('4', 4),
          ('4-5', 4.5),
          ('5', 5),
          ('5-5', 5.5),
          ('6', 6),
          ('6-5', 6.5),
          ('7', 7),
          ('7-5', 7.5),
          ('8', 8),
          ('8-5', 8.5),
          ('9', 9),
          ('9-5', 9.5),
          ('10', 10),
          ('10-5', 10.5),
          ('11', 11),
          ('11-5', 11.5),
          ('12', 12);

// Hack because libsass is BUDGET
$cells: $columns;

.section,
section {
  @include outer-container;

  &#container {
    @include media($breakpoint-1140) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

@each $column in $columns {
  // Damn libsass doesn't support multiple assignment
  $name: nth($column, 1);
  $value: nth($column, 2);

  .span-#{$name} {
    @include span-columns($value);
  }
  .offset-#{$name} {
    @include shift($value);
  }

  @each $breakpoint in $breakpoints {
    $breakpoint-name: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    .#{$breakpoint-name}-span-#{$name} {
      @include media($breakpoint-value) {
        @include span-columns($value);
      }
    }
  }
}

@each $column in $cells {
  $name: nth($column, 1);
  $value: nth($column, 2);

  .table-row {
    @include row(table);

    .cell-#{$name} {
      @include span-columns($value);
    }
  }
}