.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.vertical-list {
  li + li {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &.united {
    li + li {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.horizontal-list {
  li {
    margin: 0;
    display: inline;
  }

  li + li {
    margin-left: 10px;
  }

  &.united {
    li + li {
      margin-left: 0;
    }
  }
}