a,
a:visited {
  text-decoration: none;
  color: $blue;
}
a:hover {
  color: $black;
}
a:hover .underline,
a.underline:hover {
  @include underline($black);
}
a:active .underline,
a.underline:active {
  color: $alizarin;
  @include underline($alizarin);
}

a.button:active,
.button:active {
  background-color: $alizarin !important;
}