body {
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, body {
  font-family: 'Open Sans', Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  color: $mine-shaft;
  font-weight: 400;
  font-family: 'Bitter', Serif;
}
h1 {
  font-size: 2.2rem;
  line-height: 2.5rem;
}
h2 {
  font-size: 1.8rem;
  line-height: 2.3rem;
}
h3 {
  font-size: 1.6rem;
  line-height: 2.1rem;
}
h4 {
  font-size: 1.4rem;
  line-height: 1.9rem;
}
h5 {
  font-size: 1.2rem;
  line-height: 1.7rem;
}
h6 {
  font-size: 1rem;
  line-height: 1.5rem;
}