@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700);

// Base
@import '../../base';

h1, h2, h3, h4, h5, h6, body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
h1 {
  font-size: 3rem;
  line-height: 3.4rem;
}
h2 {
  font-size: 2rem;
  line-height: 2.4rem;
}
h3 {
  font-size: 1.8rem;
  line-height: 2rem;
}
h4 {
  font-size: 1.6rem;
  line-height: 2rem;
}
h5 {
  font-size: 1.4rem;
  line-height: 2rem;
}
h6 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

// Links
@import 'links';